# Ensure strict peer dependencies to fix styled-jsx issue
strict-peer-dependencies=false
node-linker=hoisted
public-hoist-pattern[]=styled-jsx
public-hoist-pattern[]=*client-only*
shamefully-hoist=true
