# Ensure strict peer dependencies to fix styled-jsx issue
strict-peer-dependencies=false
node-linker=hoisted
public-hoist-pattern[]=styled-jsx
public-hoist-pattern[]=*client-only*
shamefully-hoist=true
auto-install-peers=true
resolution-mode=highest
link-workspace-packages=false
use-node-version=24.2.0
hoist=true
enable-pre-post-scripts=true
prefer-symlinked-executables=false
#Fix for styled-jsx
prefer-frozen-lockfile=false
